body{
	color: lime !important;
}

.col-md-6 {
    width: 50%;
    background: black;
}

.row {
	background: black;
}

.container-inner-item boxed {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background: #1f1f1f;
}

.container-fullsize .container-inner-item {
    border-radius: 3px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #333 !important;
    border: 1px solid #f7f7f7;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    max-height: 415px;
}

.profile-title {
    color: #ffffff !important;
}

.school-record-button {
    padding: 3px 8px;
    border-radius: 3px;
    border-radius: 0px;
    text-transform: uppercase;
    color: lime !important;
    background-color: transparent !important;
    font-size: 12px;
    font-weight: normal !important;
    border: 1px solid lime !important;
}

.profile-title a.simple-link {
    font-size: 18px;
    color: lime !important;
    border: 1px solid lime !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.event-item[data-event-category="meet"], #events-index[data-event-category="meet"], .event-color[data-event-category="meet"] {
    color: lime !important;
}

.event-list .event-item {
    position: relative;
    clear: both;
    margin: 5px;
    color: lime !important;
}

.event-list .event-item .event-left .date-day {
    font-size: 2em;
    line-height: 1em;
    font-weight: bold !important;
    color: black !important;
}

.event-list .event-item .event-left .date-month {
    font-size: 1em;
    line-height: .9em;
    color: black !important;
    font-weight: bold !important;
}

a {
    color: gainsboro !important;
    text-decoration: none;
}

.iconf-hand-like-1:before {
    content: "\e031";
    color: #333 !important;
}

.icon-star-9:before {
    content: "\e0a5";
    color: #333 !important;
}


.achievement-item .achievement-item--container.mini .achievement-item--image {
    width: 20%;
    max-width: 75px;
    background: #333 !important;
    padding: 75px 15px;
}
.achievement-item .achievement-item--container .achievement-item--content h1 {
    color: #fff !important;
    font-family: 'futura';
    font-size: 1.4em;
    margin: 5px 0;
}

.main-navbar .main-navbar-search {
    font-size: 1.04em;
    background: #333 !important;
}

.main-navbar .main-navbar-left {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    background: #333 !important;
    -ms-flex-positive: 1;
}

.main-navbar .main-navbar-search:before {
    padding: 0 0;
    color: white !important;
}

.main-navbar .main-navbar-user-nav>.dropdown>a {
    line-height: 40px;
    background: #333 !important;
}

.main-navbar .user-actions {
    background: #333 !important;
    line-height: 60px;
}

.main-navbar .main-navbar-user-nav>.dropdown>a>span {
    font-size: 1.2em;
    font-weight: bold;
    color: white !important;
    padding-right: 2rem;
}

.main-navbar .main-navbar-search input.search-input {
    margin-left: 15px;
    color: white !important;
}

[class^="icon-"]:before, [class*=" icon-"]:before{
    font-family: "streamline-30px" !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dropup, .dropdown {
    position: relative;
    background:#333 !important;
}

.profile-item .profile-item-top, .profile-item .profile-item-middle {
    margin: 0 0;
    padding: 0;
    background-image: url("https://www.acemetrix.com/wp-content/uploads/2015/08/black-banner-vector.png") !important;
}

#sidebarCollapse {
    right: 0px;
    position: fixed;
    margin-top: -3px;
    border-color: white;
    border-radius: 23px 1px 1px 23px;
    width: 54px;
    height: 46px;
    background-color: white;
    visibility: hidden !important;
    margin-right: -1px;
    z-index: 666;
    box-shadow: 0 3px 2px 0 rgb(0 0 0 / 10%), 0 7px 11px -2px rgb(0 0 0 / 10%), 0 5px 17px 0 rgb(0 0 0 / 30%);
}

span.coalition-span{
	color: lime !important;
	text-decoration: none !important;
}

a:hover, a:focus {
	text-decoration: none !important;
}

.profile-item .user-progress .progress .progress-bar {
    background: lime !important;
}

.main-left-navbar:not(.pro-navbar):not(user-left-navbar) {
    justify-content: space-between;
    background: #333 !important;
}

.main-navbar .main-navbar-logo {
    width: 80px;
    background: #333 !important;
}

tspan {
	fill: white !important;
	font-weight: bold !important;
}

g{
	fill: lime !important
}

#banner-content-polygon-1{
	fill: #333;
}

.main-navbar .user-profile-picture {
    height: 40px;
    width: 40px;
	background-image: url(https://us.123rf.com/450wm/taronin/taronin1701/taronin170100067/70656367-espartano-.jpg?ver=6) !important;
	background-size: cover !important;
    margin: auto;
}

.main-navbar .main-navbar-user-nav .dropdown-menu {
    margin: 0px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #333 !important;
    border-radius: 0px;
    border-top: none;
    -webkit-box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
}

.main-navbar .main-navbar-user-nav .dropdown-menu:hover{
	background: #333 !important;
}

#user-locations{
	visibility: hidden;
}

#highcharts-1{
	visibility: hidden;
}

.modal-body {
    position: relative;
    padding: 15px;
    color: black !important;
}

.btn.btn-primary, .btn-primary.broadcasts-filters-btn {
    color: #000 !important;
    background-color: lime !important;
    font-weight: 600 !important;
    border-radius: 6px Im !important;
    border-color: lime !important;
}

h1.note-title, h2.note-title, h3.note-title {
    margin: 20px auto;
    color: gainsboro !important;
}

.icon-smiley-relax:before {
    content: "\e0e9" !important;
    color: gainsboro !important;
}

.event-list .event-item .event-metadata .event-button {
	color: black !important;
}
